<!DOCTYPE html>
<html>
  <head>
    <title>Txter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="padding: 3em;">
    <nav class="navbar" style="font-size: 2em;">
      <a href="/"><i class="bi-house"></i></a>
      <a href="/users/edit"><i class="bi-person-badge"></i></a>

    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
