<!DOCTYPE html>
<html>
  <head>
    <title>Txter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="padding: 3em;">
    <nav class="navbar" style="font-size: 2em;">
      <a href="/"><i class="bi-house"></i></a>

      <% if user_signed_in? %>
        <a href="/users/edit"><i class="bi-person-badge"></i></a>
        <%= button_to "⏻", destroy_user_session_path, method: :delete, class: "btn btn_primary" %>
      <% else %>
        <%= button_to "⏻", new_user_session_path, class: "btn btn_primary" %>
      <% end %>

    </nav>

    <% unless notice.nil? || notice=="" %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% unless alert.nil? || alert=="" %>
    <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
